<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-card *ngFor="let ea of tempUser">
            <ion-card-header>
              <ion-card-title>
                <span *ngIf="ea.bloodtype === '1'" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 1px solid darkred; padding: 10px;  border-radius: 5px 5px 5px 5px ; color: darkred">A</span>
                <span *ngIf="ea.bloodtype === '2'" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 1px solid darkred; padding: 10px;  border-radius: 5px 5px 5px 5px ; color: darkred">AB</span>
                <span *ngIf="ea.bloodtype === '3'" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 1px solid darkred; padding: 10px;  border-radius: 5px 5px 5px 5px ; color: darkred">B</span>
                <span *ngIf="ea.bloodtype === '4'" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 1px solid darkred; padding: 10px;  border-radius: 5px 5px 5px 5px ; color: darkred">O</span>

                {{ea.nameFull}}
              </ion-card-title>
            </ion-card-header>
            <hr style="border-top: 0.5px solid #5f5f5f; box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        margin-left: 5px; margin-right: 5px">
            <ion-card-content style="color: black">
              <ion-label>Email: </ion-label><br>
              <ion-label style="font-weight: bold;">{{ea.email}}</ion-label> <br>
              <h2 style=" margin-top: 10px">Address: </h2>
              <ion-label style="font-weight: bold;">{{ea.address}}</ion-label><br>
              <h2 style=" margin-top: 10px">Phone Number: </h2>
              <ion-label style="font-weight: bold;">0{{ea.phone}}</ion-label><br>

              <h2 style=" margin-top: 10px">Birth date: </h2>
              <ion-label style="font-weight: bold;">{{ea.birthdate | date }}</ion-label><br>

              <h2 style=" margin-top: 10px">Weight and Height: </h2>
              <ion-label style="font-weight: bold;">{{ea.weight}} Kg and {{ea.height}} cm</ion-label><br>

              <div class="row">
                <div class="column" style="text-align: center; margin-top: 10px">
                  <ion-button class="submit-btn" style="width: 90%" type="submit" (click)="toEditProfile()" >Edit Profile</ion-button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

        <ion-card >
          <ion-card-header>
            <ion-card-title>List of appoinment</ion-card-title>
          </ion-card-header>
          <hr style="border-top: 0.5px solid #5f5f5f; box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        margin-left: 5px; margin-right: 5px">
          <ion-card-content>
            <ion-label [hidden]="isAppoinment">You don't have appointment yet</ion-label>
            <ion-list *ngFor="let appointment of AppointmentList">
<!--              <ion-item>-->
                <ion-label>
                  <ion-note *ngIf="appointment.status === false">Status : Approve?</ion-note>
                  <ion-note style="color: limegreen" *ngIf="appointment.status === true">Status : Approved</ion-note><br>
                  {{ appointment.nameEvent }} <br>
                  <ion-note>{{appointment.nameLocation}}</ion-note><br>
                  <ion-note>{{appointment.dateEvent | date}}</ion-note><br>
                </ion-label>
<!--              </ion-item>-->
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-label>Copyright Blonation 2020</ion-label>
    </ion-toolbar>
  </ion-footer>
</ion-content>


